.body {
    background-color: #ded2e2cc;
    color: #221625;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 20px auto;
}

.darkMode {
    background-color: #6d5c74;
    color: #f2e2fa;
}