.navigation {
    text-align: center;
    border: 1px solid #f5cb95;
    border-radius: 35px 10px;
    background-color: #f5cb95;
    font-size: 20px;
    font-weight: bold;
    max-width: 90%;
    margin: 0 auto;
}

.navigation__list {
    padding: 0%;
}

.navigation__item {
    display: inline-block;
    padding: 5px 50px;
}

.navigation__link {
    text-decoration: none;
    color: #2a1d2e;
}

.navigation__link:hover {
    color: rgba(83, 72, 52, 0.7);
}